body {
    font-family: "Lato", sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    margin: 22px 31px 1.5rem;
}
.logo {
    display: flex;
    margin-right: 70px;
}
.logo__img {
width: 40px;
height: 40px;
margin-right: 30px;
}
.logo__title {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    
    /* Accent */
    
    color: #005FA3;
}

.header-info {
    display: flex;
    flex-direction: column
}
.header-info__contacts {
    display: flex;
    gap: 40px;
}
.header-info__contacts li {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.header-info__contacts li span {
font-family: 'Lato';   
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
/* identical to box height */
color: #000000;
}
.header-info__contacts li img {
padding-right: 10px;
}

.header-info__links {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.header-info__links li a {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #222222;
}